@import '~admin-lte/dist/css/adminlte.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html,
body,
#root {
    height: 100%;
}

.login-page, .register-page {
    background: #d2d6de;
    width: 100%;
    height: 100%;
}

.login-box, .register-box {
    width: 360px;
    margin: 7% auto;
}

.login-box-body, .register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}

.overlay{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(255,255,255,.7);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
    opacity: .3;
}


.overlay>.fas{
    color: #343A43;
}